
<div class="topsection">
    <div class="container">
        <div class="top-header">   
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="tel:+1.888.436.7692" class="first"><i class="fa fa-phone-square visible-xs"></i><span class="hidden-xs">1-888-436-7692</span></a>
                    <a href="javascript:void(0);" id="emailus"><i class="fa fa-envelope visible-xs"></i><span class="hidden-xs">Email Us</span></a>
                    <a href="javascript:void(0);" id="visitus" class="last"><i class="fa fa-map-marker visible-xs"></i><span class="hidden-xs">Visit Us</span></a>
                </div>
                <div class="salewrap saletop_two" id="container123">
                     <div class="viewsaletop1 salewrap2"><span id="saleDisText">20% off  Sale.</span> Code <span id="saleDisCode">GNY20</span> ends in<div class="timecount"><ul><li>0<span>Days</span></li><li>22<span>Hrs</span></li><li>22<span>Min</span></li><li>36<span>Sec</span></li></ul></div></div>
                   <div class="viewsaletop2">
      30-Day Returns
      <!--a href="https://www.gemsny.com/immediate-delivery/" style="margin-top: auto;padding: 0;background: none;float: none;color:#f0ff00;text-decoration:underline;font-size: 16px;font-weight:bold">View Ready to Ship Items For Christmas</a-->
    </div>

    <div class="viewsaletop3">
      Free Domestic Shipping
      <!--a style="margin-top: auto;padding: 0;background: none;float: none;color:#f0ff00;font-size:16px;font-weight:bold" onclick="javascript:$('#common_popup_site_temp').modal('show');">Buy it Loose, Set it Later (CLICK HERE)</a-->
    </div>

                </div>


                <div class="col-md-8 col-sm-8 tar hidden-1300res"><a href="https://www.gemsny.com/policy/return/" class="first">30-Day Returns</a><a href="https://www.gemsny.com/customer-services/shipping-method-charges/" class="last">Free Domestic Shipping and Returns</a> </div>
            </div>
        </div>
        <div id="visitus-div" class="row signin-myaccount" style="display:none;top:0px;position:relative !important;width:100%;border:none;">
            <br>
            <a href="javascript:void(0);" class="close" style="font-size:20px;z-index:999"><i class="fa fa-times-circle"></i></a>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12" style="text-align:center"> 
                    <div class="row">                   	               
                        <span><h4><strong>Phone</strong></h4></span>
                    </div>
                    <div class="row">
                        <span>Tel: </span><span>212-575-1672</span>
                    </div>
                    <div class="row">
                        <span>Toll Free: </span><span>888-GemsNYC</span>
                    </div>
                    <div class="row">
                        <span><strong style="text-decoration:underline">Business Hours</strong></span>
                    </div>
                    <div class="row">
                        Monday - Friday	9:45 AM - 6:30 PM<br>
                        Saturday 10:30 AM - 3:00 PM<br>                                
                        <!--Sunday 9:45 AM - 2:00 PM-->
                        Sunday	Closed <br>
                        
                    </div>
                    <br>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12" style="text-align:center">   
                    <div class="row">                                                  
                        <span><h4><strong>Email</strong></h4></span>
                    </div>
                    <div class="row"> 
                        Send us an email message<br>directly through our website.<br>Receive reply within 1 business day.
                    </div>
                    <br>
                    <div class="row">                         
                        <a class="ovalbutton" href="javascript:void(0);" id="emailus_1">Send Email</a>
                    </div>
                    <br>
                </div>                                
                <div class="col-md-3 col-sm-12 col-xs-12" style="text-align:center">   
                    <div class="row">                                                 
                        <span><h4><strong>Visit Us</strong></h4></span>
                    </div>
                    <div class="row">
                        Make an appointment<br>to view our gems<br>in person at our NYC location.
                    </div>
                    <br>
                    <div class="row">
                        <a class="ovalbutton" href="https://www.gemsny.com/request/appointment/" target="_blank">Request Appointment</a>
                    </div>
                    <br>
                </div>                                
                <div class="col-md-3 col-sm-12 col-xs-12" style="text-align:center"> 
                    <div class="row">                                                   
                        <span><h4><strong>Address</strong></h4></span>
                    </div>
                    <div class="row">
                        20 West 47<sup>th</sup> Street<br>
                        Suite 606<br>
                        New York, NY-10036
                    </div>
                </div>                                
            </div>
        </div>
        <div class="header-container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 hidden-xs" style="padding: 0px;margin: 0px">
                    <div class="logo"><a   [routerLink]="['/']" ><img src="../assets/images/logo.png" alt=""></a></div>
                </div>
               
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 right" style="padding: 0px;margin: 0px">
                    <div class="row-up searchgemswrap">
                        <div class="currency">          
                        </div>

                        <div class="searchgemsny">
                            <form id="searchgemsny" action="https://www.gemsny.com/search/" method="GET" name="searchgemsny">						
                                <div class="topsearchdiv">
                                    <a id="search" onmouseover="open_search();" href="javascript:void(0);" class="search-icon" onclick="searchGemeny();">
                                        <label for="search" style="cursor:pointer;"><i class="fa fa-search"></i></label></a>
                                    <div class="mobile-search">
                                        <input type="text" id="keyword" name="keyword" onkeypress="return search_gemeny(event, this.value);" value="" placeholder="Search Product or Item #" autocomplete="off">
                                        <a onmouseover="open_search();" onclick="searchGemeny();" href="javascript:void(0);" class="search-icon magnifymobi"><label for="search" style="cursor:pointer;"><i class="fa fa-search"></i></label></a>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="links"><a href="javascript:;" id="topsign"><i class="fa fa-user"></i><span>Login/Signup</span></a>						
                            <div id="signdiv" class="signdiv signin-myaccount">
                                
                            </div>
                            <div id="logoutdiv" class="signdiv">

                            </div>	  
                            <a href="https://www.gemsny.com/index.php?file=wishlist" id="wishlist" target="_blank"><i class="fa fa-heart"></i><span>Wishlist</span></a>
                            <a class="last" id="topcart" style="cursor: pointer" href="https://www.gemsny.com/index.php?file=shoppingcart&amp;r=1514502450">
                                <i class="fa fa-shopping-cart"></i><span>Cart(<span>0</span>)</span>
                            </a>
                            
                        </div>
                    </div>

                </div>
            </div>
           <!--div class="col-md-12  hidden-xs" style="padding: 0px;margin: 0px;text-wrap: none">
                        <div style="text-align:center;vertical-align:middle">
                            <a href="https://www.gemsny.com/immediate-delivery/" style="margin-top: auto;padding: 0;background: none;float: none;color:#FF0000;text-decoration:underline;font-size: 16px;font-weight:bold">View Ready to Ship Items For New Years</a>
                            <span style="color:#FF0000;font-size: 15px;font-weight: bolder"><img  src="https://www.gemsny.com/images/gs_ch.png" />Most items still available for Christmas<img  src="https://www.gemsny.com/images/gs_ch.png" /></span>                            
                        </div>
                </div-->
        </div>
    </div>


    <!-- Mobile Navigation UI start--> 
    
    <div class="alert alert-danger alert-dismissable" id="policy" style="display:none;margin:auto">
        <a type="button" class="close right" id="policy_close" data-dismiss="alert" [routerLink]="['/']"> <i class="fa fa-times-circle"></i> </a>
        This website uses cookies to give you the very best experience.  To learn more about cookies please read our <a href="https://www.gemsny.com/policy/cookie/"><strong style="text-decoration:underline">cookie policy</strong></a>. By using this website or closing this message you are agreeing to our cookies and <a href="https://www.gemsny.com/policy/privacy/"><strong style="text-decoration:underline">privacy policy</strong></a>.
    </div>
    <nav id="nav" role="navigation">
        <div class="block newnav" id="gemsnymenu">

            <ul class="menu">
                <li class="sub">
                  <a  [routerLink]="['/sapphires/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Sapphires</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/ruby/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Ruby</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/emerald/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Emerald</a>
                </li>
               <li class="sub">
                  <a  [routerLink]="['/alexandrite/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Alexandrite</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/tsavorite/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Tsavorite</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/hessonite-garnet/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Hessonite Garnet</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/tanzanite/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Tanzanite</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/aquamarine/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Aquamarine</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/paraiba-tourmaline/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Paraiba Tourmaline</a>
                </li>
                <li class="sub">
                  <a  [routerLink]="['/spinel/basic-search/.']" [queryParams]="{step:'stone'}" class="f1-link hidden-xs">Spinel</a>
                </li>
               
                
              </ul>
            <a class="close-btn newsprite" id="nav-close-btn" href="https://www.gemsny.com/faqs/https://www.gemsny.com/top">&nbsp;</a> </div>
    </nav>
    
    <div class="clear"></div>
</div>


