<div class="bottomsection">
    <div class="bottom-1">
        <div class="container "> 
            <div id="quicklinks" class="owl-carousel quicklinks owl-theme" style="opacity: 1; display: block;">
              <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 2604px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                  <div class="owl-item" style="width: 217px;">
                      <div class="item"><a href="https://www.gemsny.com/gemsny-difference/#FGC">All Gems Certified</a></div>
                  </div>
                  <div class="owl-item" style="width: 217px;">
                      <div class="item"><a href="https://www.gemsny.com/gemsny-difference/#FA">Free Jewelry Appraisals</a></div>
                  </div>
                  <div class="owl-item" style="width: 217px;">
                      <div class="item"><a href="https://www.gemsny.com/gemsny-difference/#IFF">0% Financing</a></div>
                  </div>
                  <div class="owl-item" style="width: 217px;">
                      <div class="item"><a href="https://www.gemsny.com/gemsny-difference/#free_engraving">Free Engraving</a></div>
                  </div>
                  <div class="owl-item" style="width: 217px;">
                      <div class="item"><a href="https://www.gemsny.com/gemsny-difference/#DW">1-Year Warranty</a></div>
                  </div>
                  <div class="owl-item" style="width: 217px;">
                      <div class="item"><a href="https://www.gemsny.com/why-gemsny/lifetime-tradeup/">Lifetime Trade-up</a></div>
                  </div>
                </div>
            </div>
               
                
                
                
                
                
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottom-2">
        <div class="container">        	
            <div class="row">
                <div class="border-box">
                    <div class="col-xs-12 pt15">
                        <h4>© Copyright 2012 Affordable Gems Inc. All Rights Reserved</h4>
                    </div>
                                        
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
          <div class="col-md-12 seocontent"><p></p>
              <p>
          </p>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bottom-box">
                        <h4>Customer Service</h4>
                        <div class="bottom-text">
                            <ul>
                                <li><a href="https://www.gemsny.com/policy/return/" target="_blank">Return Policy</a></li>                                
                                <li><a href="https://www.gemsny.com/customer-services/report-technical-problems/" target="_blank">Report a Technical Problem</a></li>
                                <li><a href="https://www.gemsny.com/faqs/" target="_blank">Frequently Asked Questions</a></li>
                                <li><a href="tel:+1.888.436.7692">Call 1-888-436-7692</a></li>
                                <li>
                                  <a href="https://www.gemsny.com/contactus/#visit-us" target="_blank">Visit Us</a>
                                </li>
                                <li>
                                    <a href="https://www.gemsny.com/contactus/#email-us" target="_blank">Email Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bottom-box">
                        <h4>Get to Know Us</h4>
                        <div class="bottom-text">
                            <ul>
                                <li><a href="https://www.gemsny.com/aboutus/" target="_blank">About GemsNY</a></li>
                                <li><a href="https://www.gemsny.com/gemsny-difference/" target="_blank">The GemsNY Advantage</a></li>
                                <li><a href="https://www.gemsny.com/reviewsandratings/">Reviews and Ratings</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear visible-xs visible-sm"></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bottom-box">
                        <h4>Education</h4>
                        <div class="bottom-text">
                            <ul>
                                <li><a href="https://www.gemsny.com/sapphires/education/" target="_blank">Color Stone Education</a></li>
                                <li><a href="https://www.gemsny.com/diamonds/education/" target="_blank">Diamond Education</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bottom-box">
		<h4>Join</h4>
		<div class="bottom-text">
			<p>Activate special features such as Comparing Items, Saving Your Shopping Cart, Sharing your Wish List and More</p>
			 
			</div>
		</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
