
<!DOCTYPE html>
<html lang="en">
    <head>        
        <title>Sapphire, Ruby & Emerald Engagement & Wedding Rings</title>
       
    </head>
    <body id="top" class="pageload">
        <div id="loader-wrap" style="position: fixed;left: 50%;top: 50%; -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">            
        </div>
        <div id="outer-wrap">
            <div id="inner-wrap">

               <app-header></app-header>
              <div class="middlesection static-page newinnerwrap">
              <div class="container">
              <div class="row">
               <router-outlet></router-outlet>
                </div>
                </div>
                </div>
               <app-footer></app-footer>

</div>
</div>

</body>
</html>
