<div class="modal-backdrop fade in" (click)="onClose()"></div>
<div class="modal fade in"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="align-items: center; display: flex;" >
                    <div class="modal-dialog" style="max-height: 100%; max-width: 100%; overflow: auto;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>CARAT WEIGHT<a type="button" class="close right" (click)="onClose()"> <i class="fa fa-times-circle"></i> </a></h3>
                            </div>
                            <div class="modal-body"><div class="col-md-12 col-xs-12">
    <p class="pb10">The weight of gemstones is measured in a unit called carats (cts.). There are 5 carats in 1 gram.</p>
    <p class="pb10">
        Please Note: The carat weight listed on the website for pairs are the combined total weight of the two gemstones.</p>
    <p class="pb10">
        To gauge the size of a gemstone (visual appearance) it is always better to look at the millimeter measurements of the gemstone as opposed to the carat weight.
    </p>		
    <p class="pb10">
        <a class="blulink" target="_blank" href="https://www.gemsny.com/size_chart2.pdf">Click here for our Stone Size Chart</a> which you can print to see the actual sizes of various shapes
    </p>
    <p class="pb10">
        <a class="blulink" target="_blank" href="https://www.gemsny.com/compare-stone/">Click here for our Stone Size Tool</a> where you can input various measurements to see a basic rendering of centerstone sizes relative to your finger  - particularly useful if you are planning to mount the gem in a ring.
    </p>
</div></div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>


